@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #16191e;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --background: #ffffff;
    --foreground: #16191e;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-size: 16px;
  font-family: var(--font-montserrat-mono);
}